$toolbar-background: color($colors, primary);
$toolbar-text-color: color($colors, light);
$toolbar-border-color: color($colors, primary);
$toolbar-ios-border-color: color($colors, primary);

ion-header.header {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0, 0.3);
}